<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <title th:text="#{header.title}">Header</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div th:fragment="topNav">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a href="/"><img src="/images/logo.png" class="img-responsive" /></a>
        </div>
        <div class="col-md-2">
          <div class="btn-group" role="group">
            <a class="btn btn-info" href="/rooms/form" role="button" th:text="#{header.postRoom}">Post a room</a>
            <a class="btn btn-info" href="/wants/form" role="button" th:text="#{header.postWant}">Post a want</a>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-9">
          <a href="/login" th:text="#{header.login}">Login</a> / <a href="/signup" th:text="#{header.singup}">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
