<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
  <div th:fragment="topNav">
    <nav class="navbar navbar-default navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-80x80" src="/images/logo.png" th:alt="#{header.logo.hint}"/>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapse-1">
          <a role="button" class="btn btn-info navbar-btn navbar-left" href="/rooms/form" th:text="#{header.room.post}">Post a room</a>
          <a role="button" class="btn btn-info navbar-btn navbar-left" href="/wants/form" th:text="#{header.want.post}">Post a want</a>
          <form class="navbar-form navbar-left" action="/rooms" method="get" id="headerForm">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="$('#headerForm').attr('action', '/rooms')" th:text="#{header.search.rooms}">Rooms</a></li>
                    <li><a href="#" onclick="$('#headerForm').attr('action', '/wants')" th:text="#{header.search.wants}">Wants</a></li>
                  </ul>
                </div>
                <input type="text" name="searchBox" class="form-control" placeholder="City, State or ZIP" />
                <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                  <i class="fa fa-search"></i>
                </button></span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <img th:src="${'/photos/'+#authentication.name+'/'+#authentication.name+'-rental.png'}" /> <span th:text="${#authentication.name}"></span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" th:text="#{header.user.profile}">Profile</a></li>
                <li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
              </ul>
            </li>
          </ul>
          <p class="navbar-text navbar-right" sec:authorize="isAnonymous()">
            <a href="/login" th:text="#{header.login}">Login</a> / <a href="/signup" th:text="#{header.singup}">Sign up</a>
          </p>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</body>
</html>
