<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{rooms.form.title}">Post a room</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/css/site.css" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#datepicker').datepicker({
        format: "yyyymmdd",
        clearBtn: true,
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>
</head>
<body>
  <div th:include="header::topNav"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Post a room</div>
          </div>
          <div class="panel-body">
            <form action="/rooms" method="post">
              <div class="form-group">
                <label for="roomTitle">Title</label>
                <input type="text" class="form-control" id="roomTitle" name="title" required="true" placeholder="Enter title" />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required="true" placeholder="Enter location" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="roomPrice">Price</label>
                    <input type="text" class="form-control" id="roomPrice" name="price" placeholder="Enter price" />
                  </div>
                  <div class="col-md-8">
                    <label for="datepicker">Date</label>
                    <div class="input-daterange input-group" id="datepicker">
                      <span class="input-group-addon">From</span>
                      <input type="text" class="input-sm form-control" name="startDate" />
                      <span class="input-group-addon">To</span>
                      <input type="text" class="input-sm form-control" name="endDate" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="roomType">Property Type</label>
                    <select class="form-control" id="roomType" name="roomType" >
                      <option value=""></option>
                      <option value="0">Apartment</option>
                      <option value="1">Townhouse</option>
                      <option value="2">House</option>
                      <option value="3">Condo</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="roomLessor">Lessor Identity</label>
                    <select class="form-control" id="roomLessor" name="lessorIdentity" >
                      <option value=""></option>
                      <option value="0">Roomate</option>
                      <option value="1">Owner</option>
                      <option value="2">Broker</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="roomTerm">Term of Lease</label>
                    <select class="form-control" id="roomTerm" name="term" >
                      <option value=""></option>
                      <option value="0">12 months leases</option>
                      <option value="1">6 months leases</option>
                      <option value="2">3 months leases</option>
                      <option value="3">Month to month</option>
                      <option value="4">Contact for negotiation</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="room4Rent">Room for Rent</label>
                    <select class="form-control" id="room4Rent" name="count" >
                      <option value=""></option>
                      <option value="0">Private Bedroom</option>
                      <option value="1">Living Room</option>
                      <option value="2">Entire Home</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="gender">Gender Prefer</label>
                    <select class="form-control" id="gender" name="gender" >
                      <option value="0">Either</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="petAllowed">Allow Pet</label>
                    <select class="form-control" id="petAllowed" name="petAllowed" >
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label for="bedroomCount">Bedroom</label>
                    <input type="text" class="form-control" id="bedroomCount" name="bedroomCount" />
                  </div>
                  <div class="col-md-3">
                    <label for="bathroomCount">Bathroom</label>
                    <input type="text" class="form-control" id="bathroomCount" name="bathroomCount" />
                  </div>
                  <div class="col-md-3">
                    <label for="livingRoomCount">Living Room</label>
                    <input type="text" class="form-control" id="livingRoomCount" name="livingRoomCount" />
                  </div>
                  <div class="col-md-3">
                    <label for="totalMembers">Total Members</label>
                    <input type="text" class="form-control" id="totalMembers" name="totalMembers" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" rows="5"></textarea>
              </div>
              <div class="row top-buffer">
                <div class="col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div th:include="footer::footer"></div>
  </div>
</body>
</html>
