<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{wants.form.title}">Post a want</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/css/site.css" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#datepicker').datepicker({
        format: "yyyymmdd",
        clearBtn: true,
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>
</head>
<body>
  <div th:include="header::topNav"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Post a want</div>
          </div>
          <div class="panel-body">
            <form action="/wants" method="post">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required="true" placeholder="Enter location" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="wantPrice">Price</label>
                    <input type="text" class="form-control" id="wantPrice" name="price" placeholder="Enter price" />
                  </div>
                  <div class="col-md-8">
                    <label for="datepicker">Date</label>
                    <div class="input-daterange input-group" id="datepicker">
                      <span class="input-group-addon">From</span>
                      <input type="text" class="input-sm form-control" name="startDate" />
                      <span class="input-group-addon">To</span>
                      <input type="text" class="input-sm form-control" name="endDate" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="roomType">Property Type</label>
                    <select class="form-control" id="roomType" name="roomType" >
                      <option value=""></option>
                      <option value="0">Apartment</option>
                      <option value="1">Townhouse</option>
                      <option value="2">House</option>
                      <option value="3">Condo</option>
                      <option value="4">Other</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" >
                      <option value="0">Male</option>
                      <option value="1">Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" rows="5"></textarea>
              </div>
              <div class="row top-buffer">
                <div class="col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div th:include="footer::footer"></div>
  </div>
</body>
</html>
