<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{wants.title}">Wants</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="css/site.css" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div th:include="header::topNav"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offsets-4">
        <div class="row" th:each="want : ${wants}">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-3" th:text="${want.accountId}"></div>
              <div class="col-md-3 col-md-offset-6" th:text="${want.lastModified}"></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="row">
              <div class="col-md-3" th:text="${want.address}"></div>
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-6" th:text="${want.price}"></div>
            </div>
            <div class="row">
              <div class="panel-body" th:text="${want.description}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:include="footer::footer"></div>
</div>
</body>
</html>
